<div class="container">
    <div class="row">
        <div class="col-sm-6" id="motherC">
            <div class="card" style="width:400px">
                <div class="card-body">
                    <h4 class="card-title">Mother Component</h4>
                    <input type="text" [(ngModel)]="parentData" />
                    <p class="card-text">Reply from child: {{ dataFromChild }}</p>
                    <button class="btn btn-primary" (click)="sendMessage(parentData)">Send</button>
                </div>
             </div>
        </div>
        <div class="col-sm-6">
            <app-child-component (childEvent)="dataFromChild=$event" [dataFromParent]="messageToBeSent"></app-child-component>
        </div>
    </div>
</div>